VCAP_SERVICES='{"aws-rds": [{"binding_name": null, "credentials": {"db_name": "db_test", "host": "db.db.com", "password": "abcde", "port": "5432", "uri": "postgres://12345@db.db.com:5432/db_test", "username": "12345"}, "instance_name": "usda-fns-ingestor-db", "label": "aws-rds", "name": "usda-fns-ingestor-db", "plan": "shared-psql", "provider": null, "syslog_drain_url": null, "tags": ["database", "RDS"], "volume_mounts": []}], "user-provided": [{"binding_name": null, "credentials": {"APP_SECRET_KEY": "abcde12345"}, "instance_name": "DJANGO", "label": "user-provided", "name": "DJANGO", "syslog_drain_url": "", "tags": [], "volume_mounts": []}]}'

VCAP_APPLICATION='{"application_id": "9012875", "application_name": "usda-fns-ingestor", "application_uris": ["usda-fns-ingestor.app.cloud.gov"], "application_version": "12345-abcde-67890", "cf_api": "https://api.fr.cloud.gov", "limits": {"disk": 1024, "fds": 16384, "mem": 512}, "name": "usda-fns-ingestor", "organization_id": "45678-34266-ae2355", "organization_name": "gsa-10x-prototyping", "process_id": "3eae9f-ereara-2343v39", "process_type": "web", "space_id": "aerae-343v934-33vear3", "space_name": "dev", "uris": ["usda-fns-ingestor.app.cloud.gov"], "users": null, "version": "earfAF-erevb-3b"}'