[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-data-ingest = {editable = true,git = "https://github.com/18F/django-data-ingest.git",ref = "v0.2.0"}

[dev-packages]
