-i https://pypi.python.org/simple
-e git+https://github.com/18F/ReVAL.git@d33c7ede69bba383d655f1961755646038bdd90b#egg=data-ingest
attrs==19.2.0
boto3==1.9.246
botocore==1.12.246
cchardet==2.1.4
certifi==2019.9.11
cfenv==0.5.3
chardet==3.0.4
click-default-group==1.2.2
click==7.0
datapackage==1.9.2
dj-database-url==0.5.0
django-cors-headers==3.1.1
django==1.11.29
djangorestframework==3.10.3
docutils==0.15.2
et-xmlfile==1.0.1
furl==2.1.0
gevent==1.4.0
goodtables==2.2.1
greenlet==0.4.15 ; platform_python_implementation == 'CPython'
gunicorn==19.9.0
idna==2.8
ijson==2.5.1
importlib-metadata==0.23
isodate==0.6.0
jdcal==1.4.1
jmespath==0.9.4
json-logic-qubit==0.9.1
jsonlines==1.2.0
jsonpointer==2.0
jsonschema==3.1.1
linear-tsv==1.1.0
more-itertools==7.2.0
openpyxl==3.0.0
orderedmultidict==1.0.1
psycopg2-binary==2.8.3
pyrsistent==0.15.4
python-dateutil==2.8.0 ; python_version >= '2.7'
pytz==2019.3
pyyaml==5.1.2
requests==2.22.0
rfc3986==1.3.2
s3transfer==0.2.1
simpleeval==0.9.8
six==1.12.0
sqlalchemy==1.3.9
statistics==1.0.3.5
tableschema==1.8.0
tabulator==1.26.1
unicodecsv==0.14.1
urllib3==1.25.6 ; python_version >= '3.4'
whitenoise==4.1.4
xlrd==1.2.0
zipp==0.6.0
